/* Nav Bar */

.navbar {
  background-color: #5F9EA0;
  height: 115px;
}

#logo {
  width: 250px;
  margin-top: 3px;
  margin-right: 50px;
  margin-left: 10px;
}

.navbar-divs {
  text-align: center;
  justify-content: center;
  display:inline-block;
  width: 100px;
  margin-left: 30px;
}

.navbar-links {
  text-decoration: none; 
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.navbar-buttons {
  width: 75px;
}


/* Home */

.login-welcome {
  height: 250px;
  width: 1000px;
  background-color: #5F9EA0;
  margin-top: 20px;
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

#welcome-to {
  width: 400px;
  position: relative;
  top: 15px;
}

#login-form-header {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: white;
}

#login-signup-section {
  height: 250px;
  width: 1000px;
  background-color: powderblue;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  border-radius: 0px 0px 10px 10px;
}

.login-signup-divs {
  position: relative;
  text-align: center;
  display: inline-block;
}

.login-signup-headings {
  text-decoration: none; 
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: white;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.login-signup-logos {
  width: 150px;
}

#sign-up-div {
  position: relative;
  top: 20px;
  right: 80px
}

#login-div {
  position: relative;
  left: 90px;
  top: 26px;
}

#home-start-game-button {
  margin-top: 30px;
}


/* Sign Up / Log In */

.login-signup-form-div {
  height: 250px;
  width: 1000px;
  background-color: powderblue;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}

.input-text {
  height: 30px;
  width: 200px;
  margin: 10px;
  text-align: center;
  border: solid;
  border-radius: 5px;
  border-color: #5F9EA0;
}

.submit {
  height: 35px;
  width: 100px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #5F9EA0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border: solid;
}


/* Game Container */

.game-area {
  padding: 10px;
}

#start-game-button {
  height: 200px;
  margin-left: -420px;
}

.start-section {
  height: 500px;
  width: 1000px;
  background-color: powderblue;
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
}

#start-section-heading {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

#level-divs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
}

.game-play-divs {
  position: relative;
  text-align: center;
  height: 250px;
  display: inline-block;
  top: 40px;
}

.level-headings {
  text-decoration: none; 
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: white;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.game-play-logos {
  width: 150px;
}


/* Leader Board */

.leader-board {
  float: right;
  height: 520px;
  width: 300px;
  background-color: #5F9EA0;
  margin: 0px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border-radius: 10px;
}

#leader-board-header {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: white;
  margin-top: 10px;
}

.leader-board-score-card-headings {
  height: 30px;
  display: table-row;
  margin-top: 5px;
}

.leader-board-headings {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: white;
  display: table-cell;
}

.leader-board-score-card {
  background-color: powderblue;
  height: 30px;
  display: table-row;
  width: 100px;
  border-radius: 10px;
  color: white;
}

.leader-board-player-details {
  padding-top: 7px;
  display: table-cell;
  width: 100px;
  border-radius: 5px;
}


/* Profile */

.profile {
  height: 500px;
  width: 1000px;
  background-color: powderblue;
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px;
  border-radius: 10px;
}

.player-profile-card {
  height: 400px;
  width: 960px;
  background-color: powderblue;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.profile-logos {
  width: 200px;
}

#delete-profile-div{
  cursor: pointer;
}

.profile-sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#player-profile-header {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: white;
}

.profile-headings {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: white;
  font-weight: bold;
}


/* How To Play */

.how-to-play {
  height: 500px;
  width: 1000px;
  background-color: powderblue;
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

#arrow-keys {
  width:270px;
  margin: 10px;
}

#how-to-play-header {
  font-size: 40px;
}

#how-to-play-text {
  font-size: 20px;
}